/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  i.fa {
      font-size: 2rem !important;
  }

  i.icon-style {
    color:#a4abb3 !important;
  }

  i.plus-customized {
    font-size: x-large;
    font-weight: bolder;
    color:#a4abb3 !important;
  }